
		*{margin:0;padding:0;}	
		a{
			color:#848484;
			text-decoration:none;
		}
		li{list-style-type:none;}

		@font-face{
			font-family:"nanum";
			src:url("../font/NanumGothic.woff");
		}
		
		@font-face{
			font-family:"myFont_1";
			src:url("../font/NotoSans-Regular.ttf");
		}
		
		@font-face{
			font-family:"myFont_2";
			src:url("../font/NotoSans-Italic.ttf");
		}
		
		.left_middle ul li{
			color:#848484;
			font-family:"myFont_1";
		}

		body{
			background:url("../images/b_top_back.jpg") repeat-x 0px 24px;
		}	
		
		#container{
			margin:0px auto;
			width:1024px;
			padding:2px;
//			border:1px solid red;
		}
		#container:after{
			content:"";
			display:block;
			clear:both;	
		}
		#container_top{
				width:1024px;
				height:22px;
				position: fixed;
				top: 0px;		
				box-shadow: 0px 0px 15px #6d6d6d;	
				background:white;
				z-index:2;
		}
		#container_bottom{
				position: relative;	
				width:1024px;
				top:22px;
		}	


		#b_menu_all_top{
			width:1024px;
			height:370px;
			background:gray;
	//		border:1px solid red;
		}
		#b_menu_all_top div{
			float:left;
			width:146.2px; //170.6px
		}
		#b_menu_all_top div ul li{
			padding-top:15px;
			color:#F2F2F2;
		}
		.menu1{
	//		border:1px solid blue;
			text-align:center;
			padding-top:20px;
		}
		.maintitle{
			font-size:20px;
			border-bottom:1px solid #F7D358;
		}
		.menu_close{
			width:1024px;
			height:30px;
			text-align:center;
			background:gray;
	//		border:1px solid green;
		}
		
		#b_menu_all{
			display:none;
			position:absolute;
			z-index:1;
			opacity:0.8;
		}
		#b_menu_all a{
			color:#fff;
		}	
		#b_menu_all a:hover{
			font-weight:bold;
		}	
		
		.closeclick{
			color:#fff;
		}
		
		#b_top{
			width:1024px;
			height:400px;
			margin-bottom:10px;
			position:relative;
			overflow:hidden;
//			background:url("../images/background_1.jpg")
		}	
		
		.b_top_line{
			position:absolute;
			top:125px;
			left:300px;
			width:200px;
			height:2px;
			background-color:red;
//			animation:lineani 3s; 
			
/*
        animation-name: lineani;
        animation-duration: 1s;
		animation-delay: 1s;
		animation-iteration-count: infinite(계속반복);  또는 animation-iteration-count: 1;
*/			
		}	
		@keyframes lineani{
			0% {
//				transform:scale(0);
				width:1px;
				height:2px;
			}	

			100% {
//				transform:scale(1);
				width:200px;
				height:2px;
			}	
		}		
		.b_top_text{
			position:absolute;
			top:100px;
			left:300px;
			color:yellow;
//			animation:textani 5s ease-in  ; 
		}	
		@keyframes textani{
			0% {
				color:white;	
				opacity:0;
				top:150px;
			}	
			50% {
				opacity:1;
				top:100px;
				
			}	
			100% {
				color:yellow;
			}	
		}	
		#b_top_back{
			width:1024px;
			height:400px;			
			background:url("../images/background_1.jpg");
			animation:zoomin 10s 0.3s ease-in-out infinite; 
		}
		@keyframes zoomin {
			0% {
//				transform:scale(1);
				background:url("../images/background_1.jpg");
				}
			50% {
//				transform:scale(1.1);
				background:url("../images/background_2.jpg");
			}
			75% {
//				transform:scale(1);
				background:url("../images/background_3.jpg");			
			}
			100% {
//				transform:scale(1);
				background:url("../images/background_1.jpg");			
			}
		}	
		
		#b_left{
			float:left;
			background:#F2F2F2;
			width:334px;
			height:250px;
			margin-right:10px;
		}
		#b_center{
			float:left;
			width:335px;
			height:250px;
			margin-right:10px;
		}
		#b_right{
			float:right;
			width:335px;
			height:250px;
			margin-bottom:30px;
		}
		#footer_div{
			clear:both;
			width:100%;
			background:#282828;
		}
		#footer{
			margin:0 auto;
			width:1024px;
			height:120px;	
			margin-top:40px;
			background:#282828;
		}
		
/************* b_top **************/
		#b_top{
			position:relative;
		}
		#b_top_menu{
			width:1024px;
			height:22px;
		}
		.top_menu li{
			display:inline;
		}
		.top_menu li a{
			float:right;
			color:#A4A4A4;
			width:80px;
			text-align:center;
			//height:24px;
		}
		.allclick{
			position:relative;
			top:2px;
		}
/*============= */		
		.main_menu{
			position:absolute;
			top:0px;
		}	
		.main_menu li{
			display:inline;
		}
		.main_menu li a{
			float:left;
			text-align:center;
			color:#FAFAFA;
			width:146.2px;
		}		

/************* b_top_2 **************/		
		#b_top_2{
			width:1024px;
			height:165px;
			margin-bottom:10px;
		}
		.b_top_menu li{
			float:left;
		}
/*11.20*/
		.b_top_menu img{
			width:170px;
			height:165px;
		}
		
		.btn3{
			color:gray;
		}
/************* b_left **************/
		.left_top{
			width:334px;
			height:35px;
			margin-bottom:10px;
		}
		.left_middle{
			width:334px;
			height:215px;
		}
		.left_middle ul li{
			padding-top:4px;
		}
		#b_left .left_middle .noti_t{
			display:inline-block;
			padding-left:3px;
			width:250px;
			border-bottom :1px dotted gray;
		}
		#b_left .left_middle .noti_d{
			display:inline-block;
			width:77px;
			padding-right:3px;
			text-align:right;
		}
		
/************* b_center_top **************/		
		.b_center_top{
			width:335px;
			height:35px;
		}
/*11.20*/		
		.b_center_middle img{
			width:111px;
			height:106px;			
		}	
		.b_center_bottom img{
			width:111px;
			height:106px;			
		}	
/************* b_b_bottom_2 **************/	
		#b_bottom{
			margin-bottom:40px;	
		}	
		#b_bottom_2{
			margin-bottom:30px;
		}
		.b_bottom_left{
			float:left;
			width:189px;
			padding-top:15px;
			padding-left:11px;
			
		}
		.b_bottom_center{
			float:left;
			padding-top:15px;
			padding-left:60px;
			width:562px;
			font:8px "myFont_1";
			color:#848484;
		}
		.b_bottom_center p{
			font:8px "myFont_1";
			color:#BDBDBD;
			margin-bottom:10px;	
		}
		.b_bottom_right{
			float:right;
			padding-top:15px;
			width:200px;
			font:8px "myFont_1";
			color:#848484;
		}	
		#b_bottom:after{
			display:block;
			content:"";
			clear:both;
		}